:root {
    --primary-color: #dc5252;
    --gray-1: #3b3b3b;
    --gray-2: #757474;
    --gray-3: #a3a9aa;
    --gray-4: #bbbbbf;
    --light: #ffffff;
    --dark: #321c1c;
    --sw-orange: #db9753;
    --sw-yellow: #e6dc15;
    --sw-purple: #583c9e;
    --sw-blue: #78b3cf;
}

html, body{
    height: 100%;
}

.page-content{
    height: 100%;
    padding: 40px;
}

.btn-circle {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 1.42857;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: top 1s;    
    transition: top 0.36s;
    background-color: var(--primary-color);
}

.btn-circle.newchar-navbtn {
    position: absolute;
    top: 25px;
    right: 100px;
}

.btn-circle.newchar-footer {
    position: absolute;
    bottom: 25px;
    right: 100px;
}

.tactician-card.active {
    background-color: silver;
}
.party-character{
    color: slategray;
}
.party-character.active{
    color: gray;
    text-decoration: line-through;
}
.party-character.next{
    color: var(--sw-orange);
}
.character-portrait{
    font-size: 100px;
    border-width: 1px;
    border-color: var(--dark);
}
.on-deck-list{
    list-style: none;
}
.on-deck-character.active{
    color: var(--primary-color);
    font-weight: bold;
}

.initiative-card{
    background: transparent;
}
.icon-options{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    font-size: 30px;
}
.color-options{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}
.color-button{
    border-radius: 5px;
    width: 40px;
    height: 20px;
    border-style: none;
    padding: 20px;
}
.color-button.red{
    background: red;
}
.fas.red{
    color: red;
}
.color-button.orange{
    background: orange;
}
.fas.orange{
    color: orange;
}
.color-button.green{
    background: green;
}
.fas.green{
    color: green;
}
.color-button.blue{
    background: blue;
}
.fas.blue{
    color: blue;
}
.color-button.violet{
    background: violet;
}
.fas.violet{
    color: violet;
}
.color-button.light-gray{
    background: lightslategray;
}
.fas.light-gray{
    color: lightslategray;
}
.color-button.dark-gray{
    background: darkslategray;
}
.fas.dark-gray{
    color: darkslategray;
}
.color-button.black{
    background: black;
}
.fas.black{
    color: black;
}
.edit-character-button{
    font-size: 30px;
    margin: -15px 0px -15px -15px;
}
.view-character-button{
    font-size: 30px;
    margin: -15px 0px -15px -15px;
}
.badge-tactician{
    background-color: var(--sw-yellow);
}
.badge-quick{
    background-color: var(--sw-blue);
}
.badge-level_headed{
    background-color:var(--sw-purple);
}
.badge-hesitant{
    background-color: var(--sw-orange);
}