<div class="modal fade" id="character-modal" tabindex="-1" role="dialog" data-oldname="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Character</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="character-portrait d-flex">
                    <i class="fas fa-user mx-auto" id="modal-portrait-icon"></i>
                </div>

                <div class="spacer" style="height: 10px"></div>
                
                <div class="container d-flex portrait-picker-buttons">
                    <div class="mx-auto">
                        <button class="btn btn-outline-primary portrait-icon-button" id="btn-icon-picker" data-toggle="collapse" href="#icon-options" aria-expanded="false" aria-controls="icon-options">
                        Choose Icon
                        </button>
                        <button class="btn btn-outline-primary portrait-color-button" id="btn-portrait-color" data-toggle="collapse" href="#color-options" aria-expanded="false" aria-controls="color-options">
                        Choose Color
                        </button>
                    </div>
                </div>
                
                <div class="collapse icon-options" id="icon-options">
                    <a href="#" class="icon-grid-item" data-icon="fa-anchor"><i class="fas fa-anchor"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-atom"><i class="fas fa-atom"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-black-tie"><i class="fab fa-black-tie"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-book-dead"><i class="fas fa-book-dead"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-bomb"><i class="fas fa-bomb"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-bug"><i class="fas fa-bug"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-chess-bishop"><i class="fas fa-chess-bishop"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-chess-king"><i class="fas fa-chess-king"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-chess-knight"><i class="fas fa-chess-knight"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-chess-pawn"><i class="fas fa-chess-pawn"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-chess-queen"><i class="fas fa-chess-queen"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-chess-rook"><i class="fas fa-chess-rook"></i></a>

                    <a href="#" class="icon-grid-item" data-icon="fa-beer"><i class="fas fa-beer"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-code"><i class="fas fa-code"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-cog"><i class="fas fa-cog"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-crosshairs"><i class="fas fa-crosshairs"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-crown"><i class="fas fa-crown"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-dice"><i class="fas fa-dice"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-leaf"><i class="fas fa-leaf"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-fist-raised"><i class="fas fa-fist-raised"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-hat-wizard"><i class="fas fa-hat-wizard"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-key"><i class="fas fa-key"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-mask"><i class="fas fa-mask"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-music"><i class="fas fa-music"></i></a>

                    <a href="#" class="icon-grid-item" data-icon="fa-paw"><i class="fas fa-paw"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-plus-circle"><i class="fas fa-plus-circle"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-power-off"><i class="fas fa-power-off"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-radiation"><i class="fas fa-radiation"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-robot"><i class="fas fa-robot"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-snowflake"><i class="fas fa-snowflake"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-syringe"><i class="fas fa-syringe"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-theater-masks"><i class="fas fa-theater-masks"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-utensils"><i class="fas fa-utensils"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-wine-bottle"><i class="fas fa-wine-bottle"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-wrench"><i class="fas fa-wrench"></i></a>
                    <a href="#" class="icon-grid-item" data-icon="fa-yin-yang"><i class="fas fa-yin-yang"></i></a>
                </div>

                <div class="collapse color-options" id="color-options">
                    <button href="#" class="color-button red" data-color="red"></button>
                    <button href="#" class="color-button orange" data-color="orange"></button>
                    <button href="#" class="color-button green" data-color="green"></button>
                    <button href="#" class="color-button blue" data-color="blue"></button>
                    <button href="#" class="color-button violet" data-color="violet"></button>
                    <button href="#" class="color-button light-gray" data-color="light-gray"></button>
                    <button href="#" class="color-button dark-gray" data-color="dark-gray"></button>
                    <button href="#" class="color-button black" data-color="black"></button>
                </div>

                <div class="spacer" style="height: 10px"></div>

                <div class="d-flex">
                    <label class="mb-1" for="character-modal-charname">Name</label>
                    <input class="ml-3 form-control" type=text name="character-modal-charname" id="modal-charname-input">
                </div>

                
                <div class="dropdown-divider"></div>
                <label><strong>Edges & Hindrances</strong></label><br>
                <label for="level-headed-buttons">Level Headed</label>
                <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons" name="level-headed-buttons">
                    <label class="btn btn-outline-secondary lvlheadlabel0 active">
                        <input type="radio" name="levelHeadedOptions" id="levelHeaded0" value=0 autocomplete="off" checked> None
                    </label>
                    <label class="btn btn-outline-secondary lvlheadlabel1">
                        <input type="radio" name="levelHeadedOptions" id="levelHeaded1" value=1 autocomplete="off"> Level-Headed
                    </label>
                    <label class="btn btn-outline-secondary lvlheadlabel2">
                        <input type="radio" name="levelHeadedOptions" id="levelHeaded2" value=2 autocomplete="off"> Imp. Level-Headed
                    </label>
                </div>

                <label for="tactician-buttons">Tactician</label> 
                <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons" name="tactician-buttons">
                    <label class="btn btn-outline-secondary tactlabel0 active">
                        <input type="radio" name="tacticianOptions" id="tactician0" value=0 autocomplete="off" checked> None
                    </label>
                    <label class="btn btn-outline-secondary tactlabel1">
                        <input type="radio" name="tacticianOptions" id="tactician1" value=1 autocomplete="off"> Tactician
                    </label>
                    <label class="btn btn-outline-secondary tactlabel2">
                        <input type="radio" name="tacticianOptions" id="tactician2" value=2 autocomplete="off"> Battle Master
                    </label>
                </div>

                <label for="quick-hesitant-buttons">Quick / Hesitant</label>
                <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons" name="quick-hesitant-buttons">
                    <label class="btn btn-outline-secondary nonelabel active">
                        <input type="radio" name="otherOptions" id="noQuickHesitant" value=0 autocomplete="off" checked> None
                    </label>
                    <label class="btn btn-outline-secondary quicklabel">
                        <input type="radio" name="otherOptions" id="quickEdge" value=1 autocomplete="off"> Quick
                    </label>
                    <label class="btn btn-outline-secondary hesitantlabel">
                        <input type="radio" name="otherOptions" id="hesitantHindrance" value=1 autocomplete="off"> Hesitant
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit-modal">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismiss-modal">Close</button>
                <button type="button" disabled aria-disabled="true" class="btn btn-danger" id="delete-character-modal">
                    <span class="fas fa-trash"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
$("#character-modal").on('shown.bs.modal', function() {
    $("#modal-charname-input").focus();
});
</script>