<div class="modal fade" id="character-modal" tabindex="-1" role="dialog" data-oldname="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Character</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <label class="mb-1" for="character-modal-charname">Name</label>
                    <input class="ml-3 form-control" type=text name="character-modal-charname" id="modal-charname-input">
                </div>

                
                <div class="dropdown-divider"></div>
                <label><strong>Edges & Hindrances</strong></label><br>
                <label for="level-headed-buttons">Level Headed</label>
                <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons" name="level-headed-buttons">
                    <label class="btn btn-outline-secondary lvlheadlabel0 active">
                        <input type="radio" name="levelHeadedOptions" id="levelHeaded0" value=0 autocomplete="off" checked> None
                    </label>
                    <label class="btn btn-outline-secondary lvlheadlabel1">
                        <input type="radio" name="levelHeadedOptions" id="levelHeaded1" value=1 autocomplete="off"> Level-Headed
                    </label>
                    <label class="btn btn-outline-secondary lvlheadlabel2">
                        <input type="radio" name="levelHeadedOptions" id="levelHeaded2" value=2 autocomplete="off"> Imp. Level-Headed
                    </label>
                </div>

                <label for="tactician-buttons">Tactician</label> 
                <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons" name="tactician-buttons">
                    <label class="btn btn-outline-secondary tactlabel0 active">
                        <input type="radio" name="tacticianOptions" id="tactician0" value=0 autocomplete="off" checked> None
                    </label>
                    <label class="btn btn-outline-secondary tactlabel1">
                        <input type="radio" name="tacticianOptions" id="tactician1" value=1 autocomplete="off"> Tactician
                    </label>
                    <label class="btn btn-outline-secondary tactlabel2">
                        <input type="radio" name="tacticianOptions" id="tactician2" value=2 autocomplete="off"> Battle Master
                    </label>
                </div>

                <label for="quick-hesitant-buttons">Quick / Hesitant</label>
                <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons" name="quick-hesitant-buttons">
                    <label class="btn btn-outline-secondary nonelabel active">
                        <input type="radio" name="otherOptions" id="noQuickHesitant" value=0 autocomplete="off" checked> None
                    </label>
                    <label class="btn btn-outline-secondary quicklabel">
                        <input type="radio" name="otherOptions" id="quickEdge" value=1 autocomplete="off"> Quick
                    </label>
                    <label class="btn btn-outline-secondary hesitantlabel">
                        <input type="radio" name="otherOptions" id="hesitantHindrance" value=1 autocomplete="off"> Hesitant
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit-modal">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismiss-modal">Close</button>
                <button type="button" disabled aria-disabled="true" class="btn btn-danger" id="delete-character-modal">
                    <span class="fas fa-trash"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
$("#character-modal").on('shown.bs.modal', function() {
    $("#modal-charname-input").focus();
});
</script>