{% extends "table_layout.html" %}

{% block content %}
<br>
<div class="container d-flex">
    <h1 class="mx-auto" id="current-round-h3">Current Round:</h1>
</div>

<hr>

<div class="container d-flex" id="gm-view-container">
    <div class="container" id="gm-view-active-stats">
        <h5 class="gm-view-header" id="current-character-header">ACTIVE CHARACTER:</h5>
        <h3 id="current-char-name"></h3>
        <hr>
        <div class="mx-auto healthbar"></div>
        <div class="character-portrait" id="character-portrait"></div>
        <div class="attribute-container d-flex">
            <div class="mx-auto d-flex">
                <div class="attribute-box" id="pace-container">pace</div>
                <div class="attribute-box" id="parry-container">parry</div>
                <div class="attribute-box" id="toughness-container">toughness</div>
            </div>
        </div>
    </div>

    <div class="container" id="gm-view-active-cards">
        <h5 class="gm-view-header">CARDS IN HAND</h5>
        <div class="card-container" id="active-cards-in-hand"></div>
        <hr>
        <h5 class="gm-view-header">TACTICIAN CARDS</h5>
        <div class="tactician-container" id="tactician-cards-in-hand"></div>
    </div>

    <div class="container" id="gm-view-on-deck-list">
        <h5 class="gm-view-header">ON DECK</h5>
        <hr>
        <ul class="on-deck-list" id="on-deck-list">
        </ul>
    </div>
    <button class="btn" id="gm-next-round"><b>NEXT</b></button>
</div>

<hr>

<div class="container d-flex">
    <h3 class="mx-auto">GM UTILITIES:</h3>
</div>

<div class="container d-flex" id="gm-utilities">
    <div id="gm-utilities-list">
        <ul id="list-of-utilities">
            <button class="utility-item active" data-toggle="collapse" href="#table-overview" aria-expanded="false" aria-controls="table-overview">Table Overview</button>
            <button class="utility-item" data-toggle="collapse" href="#roller-pane" aria-expanded="false" aria-controls="roller-pane">Dice Roller</button>
            <!-- <button class="utility-item" data-toggle="collapse" href="#power-lookup" aria-expanded="false" aria-controls="power-lookup">Power Lookup</button>
            <button class="utility-item" data-toggle="collapse" href="#adventure-cards" aria-expanded="false" aria-controls="adventure-cards">Adventure Cards</button>
            <button class="utility-item" data-toggle="collapse" href="#rule-lookup" aria-expanded="false" aria-controls="rule-lookup">Rule Lookup</button> -->
        </ul>
    </div>
    <div class="container p-2" id="utility-view">
        
        <div class="utility-pane collapse" id="roller-pane">
            <div class="d-flex" style="text-align:center">
                <form class="p-2" id="rollerform">
                    <div class="form-group">
                        <label for="eqinput">Equation:</label>
                        <input type="text" id="eqinput">
                    </div>
                    <button class="btn btn-primary" id="roll-api-submit" disabled type="submit">ROLL</button>
                </form>
                <div class="container p-2" style="border: dashed var(--primary) 1px" id="roll-api-container">
                    <h1 id="rolleroutput" style="padding-top: 20px"></h1>
                </div>
            </div>
        </div>

        <div class="utility-pane collapse show" id="table-overview">
            <div id="table-overview-list"></div>
        </div>
    </div>
</div>

{% endblock %}