{% extends "table_layout.html" %}

{% block content %}
<div class="container d-flex">
    <h3 class="mx-auto" id="current-round-h3">Current Round:</h3>
</div>

<hr>

<div class="container d-flex" id="gm-view-container">
    <div class="container" id="gm-view-active-stats">
        <h5 class="gm-view-header" id="current-character-header">ACTIVE CHARACTER:</h5>
        <h3 id="current-char-name"></h3>
        <hr>
        <div class="mx-auto healthbar"></div>
        <div class="character-portrait" id="character-portrait"></div>
        <div class="attribute-container d-flex">
            <div class="mx-auto d-flex">
                <div class="attribute-box" id="pace-container">pace</div>
                <div class="attribute-box" id="parry-container">parry</div>
                <div class="attribute-box" id="toughness-container">toughness</div>
            </div>
        </div>
    </div>

    <div class="container" id="gm-view-active-cards">
        <h5 class="gm-view-header">CARDS IN HAND</h5>
        <div class="card-container" id="active-cards-in-hand"></div>
        <hr>
        <h5 class="gm-view-header">TACTICIAN CARDS</h5>
        <div class="tactician-container" id="tactician-cards-in-hand"></div>
    </div>

    <div class="container" id="gm-view-on-deck-list">
        <h5 class="gm-view-header">ON DECK</h5>
        <hr>
        <ul class="on-deck-list" id="on-deck-list">
        </ul>
    </div>
    <button class="btn" id="gm-next-round"><b>NEXT</b></button>
</div>

<hr>

<!-- <div class="container d-flex">
    <h3 class="mx-auto">GM UTILITIES:</h3>
</div>

<div class="container d-flex" id="gm-utilities">
    <div class="container p-2" id="gm-utilities-list">
        <ul id="list-of-utilities">
            <div class="utility-item">Table Overview</div>
            <div class="utility-item">Dice Roller</div>
            <div class="utility-item">Power Lookup</div>
            <div class="utility-item">Adventure Cards</div>
            <div class="utility-item">Rule Lookup</div>
        </ul>
    </div>
    <div class="container p-2" id="utility-view">

    </div>
</div> -->

{% endblock %}