<div class="d-flex mt-5 mx-auto">
    <div class="card p-2" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Encounter Builder</h5>
          <p class="card-text">Build and run quick Savage Worlds encounters.</p>
          <a href="#" class="btn btn-primary" id="launch-builder-btn">Launch Builder</a>
        </div>
      </div>

      <div class="card p-2" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Live Tables</h5>
          <p class="card-text">Host a table or join one that is already running.</p>
          <a href="#" class="btn btn-primary" id='launch-tables-btn'>Tables</a>
        </div>
      </div>

      <div class="card p-2" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Character Vault</h5>
          <p class="card-text">Keep your characters close at hand.</p>
          <a href="#" class="btn btn-secondary disabled" id='launch-character-vault-btn'>Coming Soon</a>
        </div>
      </div>
</div>