<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="navbar-brand" href="/">Savage Initiative Tracker</a>
    <button class="navbar-toggler" type="button" id="navbar-hamburger" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="btn btn-success" id="start-initiative-navbutton" disabled>
                    Start Initiative
                </button>
            </li>
            <div class="nav-spacer" style="width:50px"></div>
            <li class="nav-item">
                <a href="" class="nav-link" id="create-table-navbutton">Create Table</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="join-table-navbutton">Join Table</a>
            </li>
        </ul>
        
        <!-- <div class="nav-item dropdown">
            <button class="btn btn-primary dropdown-toggle" id='loginDropdown' role="button" data-toggle='dropdown' aria-haspopup="true" aria-expanded="false" value="Log In">
                <span class="spinner-border spinner-border-sm" id="navbar-login-spinner" role="status" aria-hidden="true" style="display:none"></span>
                Log In
            </button>
            <div class="dropdown-menu dropdown-menu-right p-4">
                
                <label class="mt-2" for="login-username">username</label>
                <input type="text" id="login-username">

                <label class="mt-2" for="login-password">password</label>
                <input type="password" id="login-password">
                <div class="dropdown-divider"></div>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-primary" id="navbar-login-button">Login</button>
                    <button class="btn btn-outline-primary" id="navbar-signup-button">Sign Up</button>
                </div>
            </div>
        </div> -->
    </div>
</nav>

<script>
$("#navbar-hamburger").on("click", function() {
    var circlebutton = $("#circle-newchar-top");
    if(circlebutton){
        if($("#navbarSupportedContent").hasClass("show")){
            circlebutton.css("top", "25px");
        } else {
            circlebutton.css("top", "240px");
        }
    }
});

$("#start-initiative-navbutton").on("click", function(){
    $.ajax({
        url: '/encounter/initiative/start',
        method: 'GET',
        dataType: 'html',
        success: function(response){
            $("#page-content").html(response);
        },
        error: function(xhr, status, err){
            console.log("ERROR: ", status);
        }
    })
});

$("#create-table-navbutton").on("click",function(){
    let data = {
        party: JSON.parse(localStorage.getItem("party"))
    };
    console.log(party);

    $.ajax({
        url: '/tables/create',
        method: 'POST',
        contentType: 'application/json',
        dataType: 'text',
        data: JSON.stringify(data),
        success: function(response){
            console.log(response);
            window.location.href = '/tables/gm/' + response;
            // $("html").html(response);
        },
        error: function(xhr, status, err){
            console.log("Failed to create table: ", err);
        }
    });
});

// $("#join-table-navbutton").on("click", function() {
//     var id = 0;

//     $.ajax({
//         url: '/tables/join/' + id.toString(),
//         method: 'GET',
//         dataType: 'html',
//         success: function(response){
//             window.location.href = '/tables/join/' + id.toString();
//             // $(document).html(response);
//         },
//         error: function(xhr, status, err){
//             console.log("Failed to Join Table " + id.toString() + " :", err);
//         }
//     });
// });

$(document).ready(function() {
    console.log("{{user}}");
});
</script>