{% extends "table_layout.html" %}

{% block content %}
<script>
$("#start-initiative-navbutton").css("display", "none");
$("#create-table-navbutton").css("display", "none");
$("#join-table-navbutton").css("display", "none");
</script>

<div class="container d-flex">
    <h1 class="mx-auto" id="current-round-h3">Current Round:</h1>
</div>

<hr>

<div class="container d-flex" id="gm-view-container">
    <div class="container" id="gm-view-active-stats">
        <h5 class="gm-view-header" id="current-character-header">ACTIVE CHARACTER:</h5>
        <h3 id="current-char-name"></h3>
        <hr>
        <div class="mx-auto healthbar"></div>
        <div class="character-portrait" id="character-portrait"></div>
        <div class="attribute-container d-flex">
            <div class="mx-auto d-flex">
                <div class="attribute-box" id="pace-container">pace</div>
                <div class="attribute-box" id="parry-container">parry</div>
                <div class="attribute-box" id="toughness-container">toughness</div>
            </div>
        </div>
    </div>

    <div class="container" id="gm-view-active-cards">
        <h5 class="gm-view-header">CARDS IN HAND</h5>
        <div class="card-container" id="active-cards-in-hand"></div>
        <hr>
        <h5 class="gm-view-header">TACTICIAN CARDS</h5>
        <div class="tactician-container" id="tactician-cards-in-hand"></div>
    </div>

    <div class="container" id="gm-view-on-deck-list">
        <h5 class="gm-view-header">ON DECK</h5>
        <hr>
        <ul class="on-deck-list" id="on-deck-list">
        </ul>
    </div>
</div>

<hr>

<hr>

<div class="container d-flex">
    <h3 class="mx-auto">{{charname}}</h3>
</div>

<div class="container d-flex" id="player-utilities">
    <div class="container" id="player-hand-container" data-character="{{charname}}">
        <label>Cards in Hand:</label>
        <div class="container" id="player-cards-in-hand"></div>
        <label>Tactician Cards:</label>
        <div class="container" id="player-tact-in-hand"></div>
    </div>

    <div class="container" id="utility-view">
    </div>
</div>
{% endblock %}