<style>
.stop-scroll{
    height: 100%;
    overflow: hidden;
}

.table-display-content{
    min-height: 100vh;
}
.table-row {
    width: 100%;
    min-height: calc(100vh - 100px);
}
.content-column{
    /* background: blue; */
    float:left;
    width: calc(100% - 300px);
    height: calc(100vh - 100px);
}
.chat-column{
    /* background: red; */
    float: right;
    /* flex: 0 0 300px; */
    border: 2px solid black;
    width: 300px;
    min-height: calc(100vh - 100px);
}
.table-content{
    height: 100%;
    margin: 10px 40px 0px 40px;
}
.chat-history{
    min-height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    overflow-y: scroll;
}
.chat-message{
    width: 100;
    /* border-style: solid;
    border-width: 2px;
    border-color:black; */
}
.chat-controls{
    height: 20px;
    width: 300px;
    margin: 0 0 0 0;
    bottom: 20px;
    position: absolute;
}
.btn-chat-submit{
    right: 0;
}
</style>

<script>
var username = "{{ user }}";
</script>

<div class="table-display-content" id="full-page-table-content">
    <div class="table-row">
        <div class="content-column" id="content-column">
            <h2>{{ table.name }}</h2>
            <div class="container d-flex">
                <div class="btn-group">
                    <button class="btn btn-secondary p-2" id="btn-start-initiative">Initiative</button>
                    <button class="btn btn-secondary p-2" id="btn-start-chase">Chase</button>
                    <button class="btn btn-secondary p-2 disabled" id="btn-view-characters">Characters</button>
                    <button class="btn btn-secondary p-2 disabled" id="btn-launch-wiki">Wiki</button>
                    <button class="btn btn-danger p-2" id="leave-room">X</button>
                </div>
            </div>
            
            <div class="table-content" id="table-content" data-tableid="{{ table.id }}" data-contents="none">
                content goes here
            </div>
        </div>
        <div class="chat-column" id="chat-column">
            <div class="chat-history" id="chat-history">
            </div>
            <div class="chat-controls">
                <input id="chat-message-input">
                <button class="btn-chat-submit" id="chat-submit"><span class="fas fa-arrow-right"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('body,html').css('overflow', 'hidden');

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log("I'm Connected");
        let roomData = {
            room: $("#table-content").attr("data-tableid"),
            username: username
        };
        socket.emit('join', roomData);
    });

    socket.on('disconnect', function() {
        console.log('disconnecting...');
        let roomData = {
            room: $("#table-content").attr("data-tableid"),
            username: username
        };
        socket.emit('leave', roomData);
    });

    socket.on('message to room', function(data) {
        console.log('message received');
        console.log(data);
        var msg = document.createElement('div');
        msg.setAttribute("class", "chat-message");
        msg.innerHTML = "<b>" + data.user + "</b>: " + data.message;
        var history = document.getElementById("chat-history").appendChild(msg);
        // $("#chat-history").children().append(msg);
        $("#chat-history").animate({
            scrollTop: $("#chat-history").children().last().offset().top
        }, 100);
    });

    $("#chat-submit").on("click", function() {
        let message = $("#chat-message-input").val();
        $("#chat-message-input").val("");
        let room = $("#table-content").attr("data-tableid");
        socket.emit('message in room', { message: message, room:room, username: username })
    });

    $("#chat-message-input").keypress(function(e){
        if(e.which == 13){
            $("#chat-submit").click();
        }
    });

    // Initiative

    function startInitiative(data){
        console.log($("#table-content").attr('data-contents'));
        if ($("#table-content").attr('data-contents') !== "initiative"){
            console.log('starting initative');
            let data = {
                id: $("#table-content").attr("data-tableid")
            };
            let posturl = '/tables/' + $("#table-content").attr('data-tableid') + '/initiative';
            $.ajax({
                url: posturl,
                method: 'GET',
                dataType: 'html',
                success: function(response) {
                    $("#table-content").html(response);
                    $("#table-content").attr("data-contents", "initiative");
                    $("#btn-start-initiative").removeClass("btn-secondary").addClass("btn-primary");
                },
                error: function(err) {
                    alert("Initiative start (POST REQEST) failed. URL: " + posturl);
                }
            });
        }
        else{
            console.log("Initiative is already displayed!");
        }
    }

    socket.on('update view', function(initiativeRequest){

    });

    socket.on('start initiative', function(data){
        startInitiative(data);
    });

    $("#btn-start-initiative").on('click', function(){
        var data = {
            room: $("#table-content").attr("data-tableid")
        };
        socket.emit('start initiative in room', data);
    });

    // Chase Scene

    function startChase(){
        console.log('starting chase scene');
    }

    socket.on('start chase', function() {
        startChase();
    });

    $("btn-start-chase").on('click', function(){
        var data = {
            room: $("#table-content").attr("data.tableid")
        };
        socket.emit('start chase in room', data);
    });

    // Character Vault

    // Campaign Wiki

});
</script>