<div class="modal fade" id="table-modal" tabindex="-1" role="dialog" data-oldname="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new Game Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <label class="mb-1" for="table-modal-name">Name</label>
                    <input class="ml-3 form-control" type=text name="table-modal-name" id="modal-tablename-input">
                </div>

                
                <div class="dropdown-divider"></div>
                <div class="d-flex">
                    <label class="mb-1" for="table-modal-description">Description</label>
                    <input class="ml-3 form-control" type="text" name="table-modal-description" id="modal-tabledesc-input">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit-table-modal">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismiss-table-modal">Close</button>
                <button type="button" disabled aria-disabled="true" class="btn btn-danger" id="delete-table-modal">
                    <span class="fas fa-trash"></span>
                </button>
            </div>
        </div>
    </div>
</div>