<script>
var initiative = {{ initiative|safe }};
console.log("{{party|safe}}");
console.log(initiative);
</script>

<h4 class="mr-1">Initiative Order: Round {{initiative.round}}</h4>

<ul class="mx-auto list-group" name="initiative-list" id="initiative-list">
    {% for member in initiative.party %}
        {% if member.active %}
        <div class="list-group-item active">
        {% endif %}

        {% if not member.active %}
        <div class="list-group-item character-item">
        {% endif %}

        <div class="d-flex character-item">
            <h4 class="mb-1 character-buttons">
                <button class="btn btn-primary view-character-button" data-charname="{{member.name}}">
                    <i class="fas fa-address-card"></i>
                </button>
                {{member.name}}
                <button class="btn text-danger mb-1 ml-0 btn-sm kill-character-button" data-charname="{{member.name}}">
                    <i class="fas fa-skull-crossbones"></i>
                </button>
            </h4>
            <h6 class="ml-auto badge-container">
                {% if member.tactician == 1 %}
                <span class="badge badge-pill badge-primary">Tactician</span>
                {% endif %}

                {% if member.tactician == 2 %}
                <span class="badge badge-pill badge-primary">Battle Master</span>
                {% endif %}

                {% if member.level_headed == 1 %}
                <span class="badge badge-pill badge-secondary">Lvl. Headed</span>
                {% endif %}

                {% if member.level_headed == 2 %}
                <span class="badge badge-pill badge-secondary">Imp. Lvl. Headed</span>
                {% endif %}

                {% if member.quick > 0 %}
                <span class="badge badge-pill badge-success">Quick</span>
                {% endif %}

                {% if member.hesitant > 0 %}
                <span class="badge badge-pill badge-warning">Info</span>
                {% endif %}
            </h6>
            <br>
        </div>

        <a class="btn btn-secondary btn-sm ml-5 hand-toggler" href="#cards-in-hand-{{member.name.replace(' ','-').lower()}}" type="button" data-toggle="collapse">
            {% if member.active %}
            <i class="collapse show fas fa-chevron-right"></i>
            {% endif %}
            
            {% if not member.active %}
            <i class="collapse show fas fa-chevron-down"></i>
            {% endif %}            
            View Hand
        </a>

        {% if member.tactician > 0 %}
        <a class="btn btn-secondary btn-sm ml-5 tactician-toggler" href="#cards-in-tactician-{{member.name.replace(' ','-').lower()}}" type="button" data-toggle="collapse">
            {% if member.active %}
            <i class="collapse show fas fa-chevron-right"></i>
            {% endif %}
            
            {% if not member.active %}
            <i class="collapse show fas fa-chevron-down"></i>
            {% endif %}
            Tactician Cards
        </a>
        {% endif %}

        <div class="d-flex">
            {% if member.active %}
                <div class="collapse show p-2" id="cards-in-hand-{{member.name.replace(' ','-').lower()}}">
            {% endif %}
            
            {% if not member.active %}
                <div class="collapse p-2" id="cards-in-hand-{{member.name.replace(' ','-').lower()}}">
            {% endif %}

                <div class="d-flex standard-hand">
                    {% for card in member.cards.hand %}
                    <div class="p-1">
                        <img src= {{ url_for('static', filename = 'assets/{}.png'.format(card)) }} width="64" height="96">
                    </div>
                    {% endfor %}
                </div>   
            </div>

            {% if member.tactician > 0 %}
                <div class="collapse p-2 tactician-hand" id="cards-in-tactician-{{member.name.replace(' ','-').lower()}}">
                    <div class="d-flex align-items-center">
                        {% for card in member.cards.tactician %}
                        <button 
                            class="p-1 btn btn-default tactician-card" 
                            data-cardname="{{card}}" 
                            >
                            <img src= {{ url_for('static', filename = 'assets/{}.png'.format(card)) }} width="64" height="96">
                        </button>
                        {% endfor %}
                        
                        <div class="p-2"></div>
                        
                        <div class="input-group mr-1">
                            <select class="custom-select character-select" id="character-select">
                                <option selected>Choose Character...</option>
                                {% for otherchar in party %}
                                    {% if otherchar.name != member.name %}
                                        <option value="{{member.name}}">{{otherchar.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" id="btn-give-tactician" type="button" data-charname="{{member.name}}">GIVE</button>
                            </div>
                        </div>
                    </div>   
                </div>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</ul>

<div class="d-flex">
    <button class="btn btn-primary mx-auto py-1 px-5" name="next-round" id="table-next-round-btn">Next Round</button>
</div>

<script>
$(document).ready(function() {
    console.log("initiative ready");
    
    $(".tactician-card").on('click', function(){
        $(".tactician-card").not(this).removeClass("active");
    
        if(!$(this).hasClass("active")) {
            $(this).addClass("active");
        } else {
            $(this).removeClass("active");
        }
    });

    function delegateTactician(player){
        console.log("giving card");
        var giveCard = $(".tactician-card").filter(".active").first().attr('data-cardname');
        // var fromPlayer = $(this).attr("data-charname");
        var fromPlayer = player;
        var toPlayer = $("#character-select").val();
        console.log("Give " + giveCard + " from " + fromPlayer + " to " + toPlayer);
        if(toPlayer === "Choose Character..."){
            return
        }

        // var playerObject = null;
        for(character of initiative['party']){
            if(character.name === toPlayer){
                character['cards']['hand'].unshift(giveCard);
            } else if (character.name === fromPlayer){
                for(var i=0; i < character['cards']['tactician'].length; i++){
                    if(character['cards']['tactician'][i] === giveCard){
                        character['cards']['tactician'].splice(i, 1);
                        break;
                    }
                }
            }
        }

        let data = {
            party: initiative['party'],
            round: initiative['round'],
            initiative: initiative,
            deck: initiative['deck'],
            needshuffle: initiative['needshuffle']
        };

        console.log("Give " + giveCard + " to " + toPlayer);
        $.ajax({
            url: '/table/initiative/update',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'html',
            data: JSON.stringify(data),
            success: function(response){
                $("#table-content").html(response);
            },
            error: function(err){
                alert("Tactician assignment failed");
            }
        });
        return
    }

    $("#btn-give-tactician").on('click', function(){
        let player = $(this).attr("data-charname");
        console.log("give tactician button clicked");
        delegateTactician(player); 
    });
    $(this).prop('disabled', false);    

    $("#table-next-round-btn").on('click', function(){
        advanceInitiative("table");
        // socket.emit('next round', { room: $("#initiative-list").attr("data-tableid") });
    });
    // console.log($(".next-round-btn-card").on('click'));

    function advanceInitiative(origin){
        let current = $("#initiative-list").children(".active");
        let isFirst = current.hasClass("first-item");
        let isLast = current.hasClass("last-item");
        let children = $("#initiative-list").children();
        if(!isLast){
            let next = false;
            $("#initiative-list > div").each(function(){
                if(next){
                    $(this).addClass("active");
                    $(this).find(".hand-toggler")[0].click();
                    next = false;
                    return;
                }
                if($(this).hasClass("active")){
                    next = true;
                    $(this).removeClass("active");
                    $(this).find(".hand-toggler")[0].click();
                }
            });
        }
        else{
            data = {
                party: initiative.party,
                deck: initiative.deck,
                round: initiative.round,
                needshuffle: initiative.needshuffle
            }

            if(origin == "encounter"){
                $.ajax({
                    url: "/encounter/initiative/next",
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function(response){ 
                        $("#page-content").html(response);
                    },
                    error: function() {
                        alert('Next Round Failed');
                    }
                });
            } else if(origin == "table"){
                $.ajax({
                    url: "/encounter/initiative/next",
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function(response){
                        $("#table-content").html(response);
                    },
                    error: function(){
                        alert("Failed to get next round");
                    }
                });
            }         
        }
    }

    $(".hand-toggler, .tactician-toggler").on('click', function(){
        let rclass = $(this).find(".fa-chevron-right") || false;
        let dclass = $(this).find(".fa-chevron-down") || false;
        if (rclass){
            rclass.removeClass('fa-chevron-right').addClass('fa-chevron-down');
        }
        if (dclass){
            dclass.removeClass('fa-chevron-down').addClass('fa-chevron-right');
        }
    });

    $(".view-character-button").on('click', function() {
        let charname = $(this).attr('data-charname');
        $("#character-modal").attr('data-oldname', charname);
        charname = charname.replace(" ", "-").toLowerCase();
        let character = null;

        let sessionID = $('#party').attr('data-sessionid');

        $.ajax({
            type: 'GET',
            url: '/getcharacter/' + charname,
            success: function(response){
                character = response;
                // console.log(character);
                $("#modal-charname-input").val(character.name);
                
                for(var i=0; i < 3; i++){
                    let query = "#levelHeaded" + i.toString();
                    let query2 = ".lvlheadlabel" + i.toString();
                    if(i === character.level_headed){
                        $(query).prop('checked', true);
                        $(query2).addClass("active");
                    } else {
                        $(query).prop('checked', false);
                        $(query2).removeClass("active");
                    }
                }
                
                for(var j=0; j<3; j++){
                    let query = "#tactician" + j.toString();
                    let query2 = ".tactlabel" + j.toString();
                    if(j === character.tactician){
                        $(query).prop('checked', true);
                        $(query2).addClass("active");
                    } else {
                        $(query).prop('checked', false);
                        $(query2).removeClass("active");
                    }
                }
            
                if(character.quick > 0){
                    $("#quickEdge").prop('checked', true);
                    $(".quicklabel").addClass("active");
                    $("#hesitantHindrance").prop('checked', false);
                    $(".hesitantlabel").removeClass("active");
                    $("#noQuickHesitant").prop('checked', false);
                    $(".nonelabel").removeClass("active");
                } else if (character.hesitant > 0) {
                    $("#quickEdge").prop('checked', false);
                    $(".quicklabel").removeClass("active");
                    $("#hesitantHindrance").prop('checked', true);
                    $(".hesitantlabel").addClass("active");
                    $("#noQuickHesitant").prop('checked', false);
                    $(".nonelabel").removeClass("active");
                } else {
                    $("#quickEdge").prop('checked', false);
                    $(".quicklabel").removeClass("active");
                    $("#hesitantHindrance").prop('checked', false);
                    $(".hesitantlabel").removeClass("active");
                    $("#noQuickHesitant").prop('checked', true);
                    $(".nonelabel").addClass("active");
                }
            },
            error: function(e){
                alert("Character Failed to Load");
            }
        });

        $("#character-modal").modal();
    });
});
</script>